# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*


# System Files
.DS_Store
._*
Thumbs.db


# Home Assistant
secrets.yaml
zones.yaml
known_devices.yaml

tts/
.storage/
deps/

*.conf
*.log
*.db
.uuid


# Python
__pycache__/